td {
	border: 1px solid black;
}

th {
	background-color: lightgray;
}

div {
	font-family: "Futura Bk BT";
}

h1 {
	font-family: "Futura Md BT";
}

h2{
	background-color: #a4bdf7;
}
h3 {
	background-color: #e2ebf7;
}
p{
	font-family: "Century Gothic";
}